<h1>Pais Componet</h1>
<form (ngSubmit)="buscar()" autocomplete="off">
    <input type="text" name="termino" [(ngModel)]="termino" placeholder="Ingrese la información de los paises a buscar">
</form>


<div class="insights">
    <div class="sales">
        <span class="material-icons-sharp">
            public
        </span>
        <div class="middle">
            <div class="left">
                <h3>Pais Creados</h3>
                <h1>1</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx='38' cy='38' r='36'></circle>
                </svg>
                <div class="number">
                    <p>81%</p>
                </div>
            </div>
        </div>
        <small>
            <button type="button"> Crear</button>
        </small>
    </div>
    <!-- END OF SALES -->
    <div class="expenses">
        <span class="material-icons-sharp">
            outlined_flag
        </span>
        <div class="middle">
            <div class="left">
                <h3>Provincias creadas</h3>
                <h1>24</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx='38' cy='38' r='36'></circle>
                </svg>
                <div class="number">
                    <p>62%</p>
                </div>
            </div>
        </div>
        <small>
            <button type="button"> Crear</button>
        </small>

    </div>
    <!-- END OF EXPENSES -->
    <div class="income">
        <span class="material-icons-sharp">
            outlined_flag
        </span>
        <div class="middle">
            <div class="left">
                <h3>Ciudades</h3>
                <h1>300</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx='38' cy='38' r='36'></circle>
                </svg>
                <div class="number">
                    <p>44%</p>
                </div>
            </div>
        </div>
        <small>
            <button type="button"> Crear</button>
        </small>
    </div>
    <!-- END OF INCOME -->
</div>
<div *ngIf="hayError" class="alert">
    No se encontró nada con el término: {{termino}}
</div>
<!-- END OF INSIGHTS -->
<div class="recent-orders">
    <h2>Cuidades agregadas</h2>
    <div class="container-table">
        <table>
            <thead>
                <tr>
                    <th>Cuidad</th>
                    <th>Provincia</th>
                    <th>País</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises">
                    <td>ciudad</td>
                    <td>Provincia</td>
                    <td>{{pais.nombre}}</td>
                    <td>{{pais.estadoFuncionamiento.nombre}}</td>
                    <td>
                        <tbody>
                            <tr *ngFor="let pais of paises">
                                <td class="primary">
                                    <span class="material-icons-sharp">visibility</span>
                                </td>
                                <td class="success">
                                    <span class="material-icons-sharp">edit</span>
                                </td>

                                <td class="danger">
                                    <span class="material-icons-sharp">delete_outline</span>
                                </td>
                            </tr>
                        </tbody>
                    </td>


                </tr>

            </tbody>
        </table>
        <a href="#">Mostrar todos</a>
    </div>
</div>