<div class="sidebar">

    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp">
            grid_view
        </span>
        <h3>Dashboard </h3>
    </a>
    <a routerLink="mundo" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class=" material-icons-sharp ">
            public
        </span>
        <h3>Paises </h3>
    </a>
    <a routerLink="empresas" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp ">
            business_center
        </span>
        <h3>Empresas </h3>
    </a>
    <!-- <a routerLink=" " routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp ">
            receipt_long
        </span>
        <h3>Orders </h3>
    </a>
    <a routerLink=" " routerLinkActive="active " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp ">
            insights
        </span>
        <h3>Analytics </h3>
    </a>
    <a routerLink=" " routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp ">
            mail_outline
        </span>
        <h3>Message </h3>
        <span class="message-count ">26</span>
    </a>
    <a routerLink=" " routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp ">
            inventory
        </span>
        <h3>Products </h3>
    </a>
    <a routerLink=" " routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp ">
            report_gmailerrorred
        </span>
        <h3>Reports </h3>
    </a>
    <a routerLink=" " routerLinkActive="active " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp ">
            settings
        </span>
        <h3>Settings </h3>
    </a>
    <a routerLink="/d " routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp ">
            add
        </span>
        <h3>Add Product </h3>
    </a> -->
    <a routerLink="login" routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span class="material-icons-sharp ">
            logout
        </span>
        <h3>Logout</h3>
    </a>

</div>